body{
    padding: 0;
    margin: 0;
    overflow: hidden;
}
#tabs {
  --bar-height: 6vh;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 1vh 0.35vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.45vw;
  background: rgb(21, 21, 22);
  box-sizing: border-box;
  box-shadow: 0 0px 10px 2px rgb(46, 46, 49);
  border-radius: 0 10px 0 0;
}

#tabs button {
  box-sizing: border-box;
  height: var(--bar-height);
  aspect-ratio: 2;
  flex: 0.15 0 var(--bar-height);
  background: #0f0f11;
  border: 3px solid #09090a;
  border-radius: 10px;
  color: white;
  transition: all 0.25s ease-out;
  display: inline-grid;
  place-items: center;
  box-shadow: 0 2px 2px 1px rgb(52, 52, 55);
  min-width: 0;
}

#tabs button.active {
  flex: 1 1 auto;
  width: auto;
  aspect-ratio: auto;
  padding: 0 1rem;
  background: #17171b;
}